/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr { 
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

   body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
    =================== */

    .header-container {
        border-bottom: 20px solid #e44d26;
    }

    .footer-container,
    .main aside {
        border-top: 20px solid #e44d26;
    }

    .header-container,
    .footer-container,
    .main aside {
        background: #f16529;
    }

    .title {
        color: white;
    }

/* ==============
    MOBILE: Menu
    ============== */

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
        margin-bottom: 10px;
        padding: 15px 0;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
        background: #e44d26;

    }

   /* nav a {
        display: block;
        margin-bottom: 10px;
        padding: 15px 0;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
        background: #e44d26;
        }*/

        nav a:hover,
        nav a:visited {
            color: white;
        }

        nav ul:hover {
            text-decoration: underline;
        }

/* ==============
    MOBILE: Main
    ============== */

    .main {
        padding: 30px 0;
    }

    .main article h1 {
        font-size: 2em;
    }

    .main aside {
        color: white;
        padding: 0px 5% 10px;
    }

    .footer-container footer {
        color: white;
        padding: 20px 0;
    }

/* ===============
    ALL: IE Fixes
    =============== */

    .ie7 .title {
        padding-top: 20px;
    }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   blocmention {
    display: inline-block; width: 33%;
}

bloccontact {
    display: inline-block; width: 33%; 
}

bloctwitter {
    display: inline-block; width: 33%; 
}




/*Partie Xavier ActualitÃƒÂ©*/

blocimageg {
    float: left;
    display: block;
    height: 192px;
}

.imageXB{
    display: block;
    height: 192px;
    float: left;
    border: 8px #D35220 double;
    border-radius: 10px;
}

/*blocimaged {
    float: right;
    width: 20%;
    height: 192px;
    display: block;
    height: 192px;
    }*/

/*bloctexteG {
    font-size: x-large;
    font-weight: bold;
    margin-top: 4%;
    width: 78%;
    display: inline-block;
    text-align: justify;
    margin-right: 1%;
    margin-left: 1%;
    color: white;
    }*/

    bloctexteD {
        /* font-size: x-large; */
        font-weight: bold;
        text-align: justify;
        width: 40%;
        display: inline-block;
        margin-top: 2%;
        margin-left: 2%;
        /* margin: auto; */
        /*color: white;*/
    }

    blocberry {
        height: 192px;
        display: block;
        margin-left: 8%;
        margin-right: 1%;
        margin-top: 3%;
        z-index: 2;
        background-color:#05482F;
        color:#D35220;
        width: 40%;
        float: left;
    }

    blocoldnews {
        border: 8px #D35220 double;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 1%;
        margin-top: 4%;
        margin-right: auto;
        margin-left: 4.5%;
        color: #D35220;
        width: 90%;
        font-weight: bold;
        font-size: 20;
        background-color:#05482F;
    /*   background-image:url(https://www.longines.fr/skins/rolandgarros/images/home/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;*/
}

#thiem{
    margin-left: 33%;
    
}

#croixx{
    display: inline-block;
    float: right;
    z-index: 3;
    height: 25px !important;
    width: 25px;
    cursor: pointer;
    /* position: fixed; */
    /* right: initial; */
}


colonne1 {
    width: 30%;
    float: left;
    display: inline-block;
    margin-left: 3%;
}



colonne2 {
    width: 35%;
    display: inline-block;
    margin-left: 10%;
}

colonne3 {
  width: 10%;
  display: inline-block;
  margin-left: 3%;
}

.balleicon{
    height: 16px;
    width:16px;


}

#divXB {
    white-space: nowrap; 
    width: 17em; 
    overflow: hidden;
    text-overflow: ellipsis; 
    cursor: pointer;
}

/*Fin partie actualitÃ© Xavier*/

/*Partie modale XB*/

.actual{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: auto;
    background-color:#05482F;
}

.visible{
    display: block !important;
}

/*Fin partie modale XB*/





/* Styles pour Mentions LÃ©gales */

mlmodal {
    display: none;
}

mloverlay {
    display: block; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

mlmodaldata {
    z-index: 2;
    background-image: url(../img/terre-battue.jpg);
    position: absolute;
    margin: -200px 20%;
    padding: 1%;
    border: 5px solid #888;
    width: 60%;
    height: 600px;
    display: block;
    border-radius: 40px;
    min-width: 400px;
}

mlcarousel{
    display:block;
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2%
}

mlmenuc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 76px;
    width: 100%;
}

mlshortcut{
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #2D533B;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    margin:5px;
    text-align: center;
    word-wrap: break-word;
    padding:5px;
    font-weight: bold;
    background: rgba(21, 9, 9, 0.34);
    color: rgb(246, 243, 243);
    width: 140px;
}

mlshortcut:hover{
    background: rgba(21, 9, 9, 0.55);
    cursor: default;
}

mlpages {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 400%;
    height: 100%;
}

mlpage {
    display: block;
    width: 25%;
    height: 100%;
    border-radius: 25px;
    text-align:justify;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid #2D533B;
    position: absolute;
    left:1500px;
    opacity: 0;
    transition: 0.5s;
    color: rgb(246, 243, 243);
    overflow: auto;
}

.mlcurrent {
    left: 0px ;
    opacity: 1;
    transition: 0.5s;
    background: rgba(21, 9, 9, 0.34);
}

.mlresized {
    width: 70px;
    font-size:6pt;
}

.visible {
    display: block;
}

/* Fin styles pour Mentions lÃ©gales */














/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
    ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
    ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
    ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
    ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
    ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
    =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

   .hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}